
# JetBrains
.idea/
*.iml

# Logism and zip files
*.circ
*.zip


# Obsidian system files
.obsidian


# Windows binaries
*.exe

# Object files
*.o
*.obj

# Build directories
build/
bin/

# Debug symbols
*.pdb
